body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #c9c1c1;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: orange;
  }
  
  .hero {
    text-align: center;
    padding: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #333;
  }

  #servicios {
    text-align: center;
    padding: 40px 20px;
  }
  /* Uso del grid */
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .servicio {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .servicio h3 {
    color: orange;
  }

  #galeria {
    padding: 40px 20px;
  }
  
  .galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .imagenesGato{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .logoGato{
    width: 75px;
    padding: 10px;
    margin: 10px;
  }
  #logo{
    width: 100px;
    height: 100px;
  }
  main {
    position: relative;
    padding: 20px; 
  }
  
  .fondoTransparente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.7; 
    z-index: -1; 
  }
  
  
  footer{
    background-color: #333;
    color: orange;
    width: 100%;
    bottom: 0px;
    text-align: center;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      margin-top: 20px;
    }
  }
  